.main {
  padding: 2rem;
  background-color: var(--main-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .name-card {
    background-color: #f0f0f0;
    border-radius: 3rem;
    width: 8.4rem;
    height: 8.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem;

    .short-name {
      color: #707070;
    }
  }

  .company-name {
    color: #262753;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 7.7rem;
  }

  .name, .phone {
    margin-bottom: 3rem;

    .field {
      display: flex;
      flex-direction: column;

      label {
        opacity: 0.5;
      }

      .col-field {
        position: relative;
        display: flex;
        align-items: center;

        input {
          padding: 1rem;
        }

        .person-icon, .phone-icon {
          color: #2474ff;
          position: absolute;
          right: 1rem;
        }
      }
    }
  }

  .phone {
    margin-bottom: 2rem;
  }

  .work-as {
    color: #707070;
    font-size: medium;
    margin: 1.5rem;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 4rem;
    margin-bottom: 2rem;

    .card {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-bottom: 3.6rem;

      .card-head {
        background-color: #f0f0f0;
        width: 6rem;
        height: 5.9rem;
        display: flex;
        border-radius: 1rem;

        &.active {
          background-color: #2474ff;

          h1 {
            color: #fff;
          }
        }

        h1 {
          color: #262753;
          margin: auto;
        }
      }

      .card-title h3 {
        color: #262753;
        text-align: center;
      }
    }
  }

  .finish-button {
    font-size: 1.5rem;
    margin-top: auto;
  }
}