:root {
    --white:#fff;
    --transition-duration:.2s;
    --board-bg:#e9ecef;
    --dark-blue:#2474ff;
    --input-bg:#f3f5fa;
    --input-border:#e0e0e0;
    --input-placeholder:#989393;
    --main-bg:#F6F7FB;
}