.button {
  --_color-bg: var(--color, violet);
  --_color-text: var(--color-text, #fff);
  --_font-size: var(--font-size, 1.2rem);
  --_btn-padding: var(--btn-padding, 0.5rem 1rem);
  box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  width: 100%;

  font-size: var(--_font-size);
  padding: var(--_btn-padding);
  border-radius: 1rem;
  font-weight: bold;
  &:hover,
  &:active {
    transform: scale(1.1);
    background: var(--_color-bg);
  }
  transition: all 0.3s ease-in-out;
  background: var(--_color-bg);
  color: var(--_color-text);

  &:disabled {
    opacity: .3;
  }


  &.primary {
    --color: linear-gradient(to right, #00c7fc 10%, #077afb);
   
  }
  &.secondary {
    --color: linear-gradient(to right, #353c64 40%, #1e233b);
  
  }
  &.small {
    --btn-padding:1rem 0;
  }
  &.medium {
    --btn-padding:1.5rem 0;
  }
  &.large {
    --btn-padding:2rem 0;
  }
}
