.main {
    background-color: var(--main-bg);
    // margin: 2.3rem;
    padding: 2.3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .welcome {
        font-size: 1.6rem;
        text-align: center;
        font-weight: bold;
        color: #262753;
        margin-bottom: 7.5rem;
    }

    .desc {
        text-align: center;
        color: #9394A7;
        opacity: 1;
        font-size: 1.9rem;
        margin-bottom: 2.2rem;
    }

    .search-box {
        // text-align: center;
        border: 1px solid #2474FF;
        border-radius: 0.5rem;
        opacity: 1;
        margin-bottom: 5.6rem;
        position: relative;
        z-index: 999;

        .input {
            color: #9394A7;
            opacity: 1;
            font-size: 1.9rem;
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            padding: .5rem .8rem;

            &::placeholder {
                opacity: .6;
            
            }
        }

        .options {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: 1rem 0rem ;
            border: none;
            max-height: 20rem;
            overflow-y: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            position: absolute; /* Diğer içeriğin üzerinde olacak şekilde konumlandır */
            top: 100%; /* Butonun altına yerleştirin */
            width: 100%;
            background: #fff;
            .option {
                background: #fafafa;
                padding: .5rem;
                border-radius: .5rem;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }

    .selected-company {
        color: #707070;
        opacity: 1;
        margin-bottom: 1.7rem;
    }

    .company {
        background: #FFFFFF;
        box-shadow: 0rem 0.3rem 0.6rem #00000029;
        border-radius: 10px;
        opacity: 1;
        padding-top: 4rem;
        padding-bottom: 8rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
        align-items: center;

        .company-title {
            text-align: center;
            background: #F0F0F0;
            border-radius: 2.5rem;
            opacity: 1;
            height: 8rem;
            width: 8rem;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
           
            
            p {
                color: #707070;
                font-size: 2rem;
                font-weight: bold;
            }
        }

        p {
            font-size: 2rem;
            color: #707070;
            font-weight: bold;

        }

    }

    .login {
        margin-top: auto;
        display: flex;
        font-size: 1.1rem;
        margin-bottom: 1rem;

        h2:last-child{
            color: #2474FF;
            margin-left: .5rem;
        }

      
    }
    .next-btn {
        button {
            font-size: 1.5rem;
        }
    }
}