.options {
    list-style-type: none;
    max-height: 40vh;
    z-index: 2;
   
    overflow-x:hidden;
     overflow-y:scroll;
    
}

.option {
    padding: 1.5rem 0.3rem;
    border: 1px solid #ccc;
    z-index: 2;
    border-radius: 5%;
    margin: 0.3rem 4px;
   
    
}