@use "@/shared/style/mixins" as mixin;

.bar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 7rem;
  padding: 1rem;
  background: #fff;
  @include mixin.box-shadow();
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .plusicon{ 
    display: flex;
    justify-content: space-between;
    
    background-color: var(--dark-blue);
    border-radius: 5px;
    height: 3rem;
    width: 3rem;
    font-weight: bold;
    color: #fff;
    font-size: 4rem;
    padding: 5px;
  }
  .circles{ 
    display: flex;
    justify-content: center;
    background-color: #E5E8F2;
    border-radius: 5rem;
    font-weight: bold;
    color: #000;
    font-size: 13px;
    padding: 6px;
    border: 2px solid #fff;
  }
  .bgcircles{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 80px;
    background-color: #EBEBEB;
    padding: 4px;
    border-radius: 21px;
  }
  .border-right{
    border-right: 1px solid #eee;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 6rem;
  }
  button {
    position: absolute;

  
    //top: 1rem;
    max-width: 10rem;
    &:nth-child(1) {
      right: 10rem;
    }

    &:nth-child(2) {
      right: 1rem;
      
    }

    div {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .bar {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    overflow: hidden;
    button {
      width: 100%;
      top: 0;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--dark-blue);

      p:first-of-type {
        display: none;
      }
      &:nth-child(1) {
        right: 0;
      }

      &:nth-child(2) {
        right: 0;
      }
      div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        
      }
    }
  }
}
