
.dialog {
    display: flex;
    align-items: center;
    position: relative;
  }
  .dialog-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    inset: 0;
  }
  .panel-container {
    position: fixed;
    z-index: 2;
    top: 20%;
    vertical-align: middle;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%) !important;
    background: var(--white);
    border-radius: 1rem;
  }
  
  .dialog-panel {
    display: flex;
    justify-content: center;
  
    flex-direction: column;
    padding: 2rem;
    width: 100%;
  
    .dialog-title {
      font-weight: 400;
      margin-bottom: 2rem;
    }
  
    .modal-detail {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 3rem;
  
      .formik-panel {
        display: flex;
        gap: 1rem;
        flex-flow: row wrap;
        justify-content: space-between;
  
        .task-form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 50vw;
          position: relative;
          height: 100%;
          flex: 1;
  
          input,
          select {
            padding: 1.2rem 1rem;
            border: none;
            outline: none;
            max-width: 79%;
            border-radius: 0.5rem;
            background: var(--input-bg);
            border: 1px solid var(--input-border);
  
            &::placeholder {
              color: var(--input-placeholder);
            }
          }
  
          .date-select-container {
            display: flex;
  
            flex-flow: row;
  
            label,
            label > *::placeholder {
              color: var(--input-placeholder);
            }
          }
        }
  
        .geolocation {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 2rem;
  
          & > p {
            white-space: nowrap;
            color: var(--input-placeholder);
            font-size: 1.4rem;
          }
  
          .work-time {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
  
            p {
              color: var(--input-placeholder);
            }
            div {
              background: var(--input-bg);
              padding: 1rem;
              border: 1px solid var(--input-border);
              border-radius: 0.5rem;
            }
          }
        }
      }
    }
  
    .actions {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
  
      flex-flow: row;
    }
  }
  
  @media (max-width: 768px) {
  
    .panel-container {
      top: 5%;
    }
    .dialog-panel {
      .modal-detail {
        .formik-panel {
          .task-form {
            .date-select-container {
              flex-flow: column;
            }
          }
        }
        .geolocation {
          align-items: center;
        }
      }
    }
  }
  